.slideshow-container {
  position: relative;
  width: 400px; 
  height: 600px; 
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.5rem;
}

.slideshow-container .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  animation: fade 9s infinite;
}


.slideshow-container .slide:nth-child(1) {
  animation-delay: 0s;
}
.slideshow-container .slide:nth-child(2) {
  animation-delay: 3s;
}
.slideshow-container .slide:nth-child(3) {
  animation-delay: 6s;
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  11.11% {
    opacity: 1;
  }
  33.33% {
    opacity: 1;
  }
  44.44% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
